@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-size: 16px;
  width: 75%;
  margin: auto;
}

footer{
  background-color: #080808;
  border-radius: 5px;
}


@media (max-width: 768px) {
  body {
    width: 95%;
  }

  
}
